<div class="tasks-grid">
  <lb-tasks-list
    [tasks]="todoTasks()"
    [status]="statusEnum.Todo"
    (delete)="onDeleteTask($event)"
    (update)="onUpdateTask($event)"
    (moveForward)="onMoveForward($event)"
    (moveBackward)="onMoveBackward($event)"
  />
  <lb-tasks-list
    [tasks]="inProgressTasks()"
    [status]="statusEnum.InProgress"
    (delete)="onDeleteTask($event)"
    (update)="onUpdateTask($event)"
    (moveForward)="onMoveForward($event)"
    (moveBackward)="onMoveBackward($event)"
  />
  <lb-tasks-list
    [tasks]="doneTasks()"
    [status]="statusEnum.Done"
    (delete)="onDeleteTask($event)"
    (update)="onUpdateTask($event)"
    (moveForward)="onMoveForward($event)"
    (moveBackward)="onMoveBackward($event)"
  />
</div>

<p-confirmDialog />
