<div class="task-card" [ngClass]="cardClasses()">
  <div class="card-header">
    <span class="priority-badge" [class]="'badge-' + task().priority">
      {{ 'tasks.' + task().priority | translate | uppercase }}
    </span>
    <p-speeddial [model]="speedDialItems()" direction="left" [style]="{ position: 'relative' }">
      <ng-template #button let-toggleCallback="toggleCallback">
        <button
          (click)="toggleCallback($event)"
          class="menu-btn"
          type="button"
          aria-label="More options"
        >
          ⋮
        </button>
      </ng-template>
    </p-speeddial>
  </div>

  <h3 class="card-title truncate" [pTooltip]="task().title">{{ task().title }}</h3>
  <p class="card-description truncate" [pTooltip]="task().description">{{ task().description }}</p>
  <div>
    @let dueDateInfo = task() | dueDate;
    <div class="card-status">
      @if (dueDateInfo.type === 'overdue') {
        ⚠
      } @else if (dueDateInfo.type === 'done') {
        ✅
      } @else {
        📅
      }
      <span>{{ dueDateInfo.labelKey | translate: dueDateInfo.labelParams }}</span>
    </div>

    @if (task().tags.length > 0) {
      <div class="card-tag">{{ task().tags[0] }}</div>
    }
  </div>

  <div class="card-footer">
    <div class="assignee">
      @if (task().assignee.avatar) {
        <div class="avatar avatar_sm">{{ task().assignee.avatar }}</div>
      }
      <span class="assignee-name">@{{ task().assignee.name }}</span>
    </div>
  </div>
</div>
