<aside class="side-menu">
  <nav class="side-menu__nav">
    @for (item of menuItems; track item.route) {
      <a
        class="side-menu__item"
        [routerLink]="item.route"
        routerLinkActive="side-menu__item--active"
        [ngClass]="{ disabled: item.disabled }"
      >
        <span class="side-menu__icon">{{ item.icon }}</span>
        <span class="side-menu__label">{{ item.label | translate }}</span>
      </a>
    }
  </nav>

  <div class="side-menu__footer">
    <button class="w-full create_button side-menu__new-task" (click)="onNewTask()">
      + {{ 'sideMenu.newTask' | translate }}
    </button>
  </div>
</aside>
