<div class="flex flex-col gap-4 tasks_list">
  <div class="flex justify-between tasks_list_header pb-2.5 items-center">
    <h3 class="tasks_list_title">{{ 'tasks.' + status() | translate }}</h3>

    <div class="tasks_count">
      {{ tasks().length }}
    </div>
  </div>

  @if (isLoading()) {
    <p-skeleton class="h-40!"></p-skeleton>
    <p-skeleton class="h-40!"></p-skeleton>
    <p-skeleton class="h-40!"></p-skeleton>
  } @else {
    @for (task of tasks(); track task.id) {
      <lb-task-card
        class="mb-4"
        [task]="task"
        (delete)="delete.emit($event)"
        (update)="update.emit($event)"
        (moveForward)="moveForward.emit($event)"
        (moveBackward)="moveBackward.emit($event)"
      />
    } @empty {
      <p>No tasks found.</p>
    }
  }
</div>
