<p-carousel
  #statsCarousel
  [value]="isLoading() ? skeletonItems : statistics()"
  [numVisible]="4"
  [numScroll]="1"
  [responsiveOptions]="responsiveOptions"
  [showNavigators]="false"
  [showIndicators]="statsCarousel.numVisible < statistics().length"
  [circular]="true"
  class="px-5 py-3"
>
  <ng-template #item let-stat>
    <div class="px-2">
      @if (isLoading()) {
        <p-skeleton class="h-40!"></p-skeleton>
      } @else {
        <lb-stats-card [stat]="stat" />
      }
    </div>
  </ng-template>
</p-carousel>
